{% extends 'base.html.twig' %}
{% block title %} Employee Data {% endblock %}

{% block body %}
<html>
<head>

</head>
<body>

<ul class="nav nav-tabs pt-5">
 
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#profile">Employee Data</a>
  </li>
 
</ul>
<div class="tab-content pt-5">
  <div class="tab-pane fade active show" id="profile">
    <div class="tab-pane fade" id="profile">
      <p></p>
    </div>
  </div>
</div>

</body>
</html>

{% endblock %}